.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-part, .right-part{
  display: flex;
  align-items: center;
}

.nav-bar h4{
  color: #555;
}

.mat-mini-fab{
  box-shadow:  0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
  background-color: #fefefe;
  color: #999;
  margin-right: 15px;
}

.mat-mini-fab:hover{
  color: #999 !important;
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
}

.mat-mini-fab:focus{
  color: #999 !important;
}

.search-btn{
  margin: 0 5px 0 7px;
}

.icon-btn{
  font-size: 19px;
  color: #555;
}

.mat-icon-button{
  margin-left: 7px;
}
