# dependencies
node_modules
package.lock

# IDE
/.idea
/.awcache

#environment config
.env

# misc
npm-debug.log
lerna-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist
/public/lib
/src/secretKeys.ts

#cli symlink in root
/cli.ts

#logs
**/logs/*.log
**/logs/*.audit.json
**/*error.log