<header>
  <div class="left"><h5>Nestjs-BFF Client Example</h5></div>
  <div class="right">
    <a routerLink="/dashboard" routerLinkActive="router-active"
      ><i class="material-icons">dashboard</i>
      <p>DASHBOARD</p></a
    >
    <a routerLink="" routerLinkActive="router-active" [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons">fingerprint</i>
      <p>LOGIN</p></a
    >
    <a routerLink="/register" routerLinkActive="router-active"
      ><i class="material-icons">person_add</i>
      <p>REGISTER</p></a
    >
  </div>
</header>
