.row{
  margin-top: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  margin-top: 40px;
}

.card-header {
  position: absolute;
  text-align: center;
  background: linear-gradient(60deg, #ec407a, #d81b60);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  /*margin: -20px 15px 0;*/
  border-radius: 3px;
  padding: 15px;
  top: -23px;
}

.card-header i {
  font-size: 24px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  color: #fff;
}

.card-content{
  position: relative;
}

.card-title{
  padding-left: 80px;
}
