<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" style="padding: 80px">
        <div class="card">
          <div class="card-header">
            <img src="../../../assets/img/avatar.jpg">
          </div>
          <h4>Tania Andrew</h4>
          <div class="card-body">
            <mat-form-field color="accent">
              <input matInput type="text" placeholder="Enter Password">
            </mat-form-field>
          </div>
          <div class="card-footer">
            <button mat-raised-button class="btn btn-rose btn-round">UNLOCK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
