.msg-btn{
  position: relative;
}

.msg-btn i{
  font-size: 19px;
  color: #555;
}

.msg-btn span{
  position: absolute;
  top: 2px;
  border: 1px solid #FFF;
  right: 2px;
  font-size: 9px;
  background: #f44336;
  color: #FFF;
  min-width: 20px;
  padding: 0px 5px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 19px;
  vertical-align: middle;
}
